<!DOCTYPE html>
<html>
<head>
<title>Analytics</title>

<style>
body{background:#0e0f14;color:white;font-family:system-ui}

.box{
 background:#161b22;
 padding:20px;
 margin:20px;
 border-radius:12px;
}
</style>

</head>

<body>

<h2>📊 Attendance Analytics</h2>

<div class="box">
<canvas id="c"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
fetch('/stats')
.then(r=>r.json())
.then(d=>{

 let labels=[]
 let vals=[]

 d.forEach(x=>{
   labels.push("Roll "+x[0]+" - "+x[1])
   vals.push(x[2])
 })

 new Chart(document.getElementById("c"),{
   type:'bar',
   data:{
     labels:labels,
     datasets:[{
        label:'Attendance Records',
        data:vals,
        backgroundColor:'#00ffaa'
     }]
   }
 })
})

</script>

</body>
</html>
